---

--- 

<section>
  <article>
    <div class="text">
      <span>Sobre nosotros</span>
      <h3>Arquitectura que dialoga con su entorno y sus habitantes</h3>
      <p>En ArchiStudio, creemos que la arquitectura es más que construir edificios; es sobre crear entornos que mejoren la vida de las personas. Nuestro enfoque combina la estética minimalista con la funcionalidad pragmática, siempre respetando el contexto y la sostenibilidad.</p>
      <a href="#">Conoce nuestra historia -></a>
    </div>
    <div class="image">
      <img src="/images/aboutUs.jpeg" alt="imagen sobre nosostros">
    </div>
  </article>
</section>

<style>
  section { 
    width: 100%;
    padding: 120px 40px;
    display: flex;
    align-items: center;
  }
  
  article { 
    width: 100%;
    display: flex;
    gap: 50px;
    max-width: var(--max-width);
    margin: auto;
  }

  img { 
    width: 100%;
  }

  span { 
    color: #cfb47c;
    font-size: 1.25rem;
  }

  h3 { 
    font-size: 2.25rem;
  }

  p { 
    font-size: 1.25rem;
  }

  .text { 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .image { 
    width: 50%;
  }
</style>
