---

--- 

<section>
  <article>
    <h5>Diseñando el <span>futuro</span></h5>
    <p>
      Creamos espacios que trascienden lo funcional para convertirse en experiencias emocionales. Arquitectura con alma y propósito. 
    </p> 
    <div>
      <a href="#" class="projects">Ver Proyectos</a>
      <a href="#" class="contacts">Contáctanos</a>
    </div>
  </article>
 </section>

<style>
  section { 
    background-image: linear-gradient(
                            0deg,
                            rgba(0, 0, 0, 0.5),
                            rgba(0, 0, 0, 0.5)
                            ),url("images/hero.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    height: 90dvh;
    width: 100%;
    color: white;
    padding: 20px;
    display: flex;
  }

  h5 { 
    font-size: 6rem;
    color: white;
  }

  p { 
    font-size: 1.25rem;
  }

  span { 
    color: #cfb47c;
  }

  article { 
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
  }

  article div { 
    display: flex;
    gap: 20px;
  }

  article div a { 
    padding: 12px 22px;
    color: white;
  }

  .projects { 
    background-color: #cfb47c;
  }

  .contacts { 
    border: 1px solid white;
  }
</style>
