---

--- 

<footer>
  <div class="container">
    <div class="div1">
      <h3>ARCHISTUDIO</h3>
      <p>Creamos espacios que inspiran, conectan y perduran. Arquitectura contemporánea con un enfoque humano y sostenible.</p>
    </div>

    <div class="div2">
      <h4>Enlaces</h4>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

    <div class="div3">
      <h4>Servicios</h4>
      <ul>
        <li>Diseño Arquitectónico</li>
        <li>Urbanismo</li>
        <li>Interiorismo</li>
        <li>Consultoría Técnica</li>
      </ul>
    </div>

    <div class="div4">
      <h4>Contacto</h4>
      <ul>
        <div>
          <li>Dirección:</li>
          <p>Calle de la Arquitectura 123,
28001 Madrid, España</p>
        </div>

        <div>
          <li>Email:</li>
          <p>info@archistudio.com</p>
        </div>

        <div>
          <li>Teléfono:</li>
          <p>+12345678</p>
        </div>
      </ul>
    </div>
  </div>
   <div class="copyright">
      <p>© 2026 ArchiStudio. Todos los derechos reservados.</p>
      <div>
        <a href="#">Politica de privacidad</a>
        <a href="#">Términos de uso</a>
      </div>
    </div>
</footer>

<style>
  footer { 
    width: 100%;
    background-color: #222222;
    padding: 80px 40px 40px 40px;
  }

  .container { 
    width: 100%;
    display: flex;
  }

  h3, h4 { 
    color: white;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  ul { 
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  a, li { 
    color: #8b929e;
  }

  .div1, .div2, .div3, .div4 { 
    width: 25%;
  }

  .div1 p { 
    color: #8b929e;
  }

  .div4 li { 
    color: white
  }

  .div4 p { 
    color: #8b929e;
  }

  .copyright { 
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    color: #8b929e;
    font-size: 0.8rem;
  }
</style>
