---

---

<header>
  <div class="container">
    <h1>ARCHISTUDIO</h1>

    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/contacto">Contactos</a></li>
      </ul>
    </nav>


  </div>
</header>

<style>
  header { 
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    padding: 20px 40px;
    z-index: 100;
  }

  .container { 
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: var(--max-width);
  }

  nav { 
    display: flex;
    align-items: center;
  }

  ul { 
    display: flex;
    gap: 20px;
  }
</style>
