---

---

<article>
  <h3>Filosofía y Valores</h3>
  <ul>
    <li>
      <span>01</span>
      <div>
        <h6>Sostenibilidad</h6>
        <p>Diseñamos pensando en el futuro, priorizando la eficiencia energética y materiales respetuosos con el medio ambiente.</p>
      </div>
    </li>

    <li>
      <span>02</span>
      <div>
        <h6>Funcionalidad</h6>
        <p>La forma sigue a la función. Creamos espacios que no solo son bellos, sino que funcionan perfectamente para quienes los habitan.</p>
      </div>
    </li>

    <li>
      <span>03</span>
      <div>
        <h6>Contexto</h6>
        <p>Cada proyecto es una respuesta única a su lugar. Respetamos y dialogamos con el entorno físico y cultural.</p>
      </div>
    </li>
  </ul>
</article>


<style>
  article{ 
    width: 100%;
    height: 100%;
  }
  h3 { 
    font-size: 2.25rem;
  }

  ul { 
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  span { 
    padding: 20px;
    background-color: #eeeeee;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  h6 { 
    font-size: 1rem;
  }
</style>
