---
import GoogleMap from "../../components/GoogleMap.astro";
--- 

<section>
  <article>
    <GoogleMap />
  </article>
</section>

<style>
  section { 
    width: 100%;
  }

  article { 
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
  } 
</style>
