---
import Section from '../../components/Section.astro';
--- 

<Section>
  <article class="article">
 <article>
    <h5>Contacto</h5>
    <p>
Estamos listos para escuchar tus ideas y convertirlas en realidad. Hablemos de tu próximo proyecto.
    </p> 
  </article>


  </article>
  </Section>

<style>

  .article { 
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
  }

  h5 { 
    font-size: 4rem;
    color: #222222;
  }

  p { 
    font-size: 1.25rem;
    color: #717171;
  }

  article { 
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
  }

  article div { 
    display: flex;
    gap: 20px;
  }

  article div a { 
    padding: 12px 22px;
    color: white;
  }
</style>
